.actions {
    grid-area: actions;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1.5em;
    text-align: right;
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 0.4));
}

.actions button,
.loadbarContainer {
    width: 10em;
}

.loadbarContainer {
    display: inline-block;
}
