.navigation {
    grid-area: navigation;
}

.navigation > a {
    display: block;
    width: 100%;
    height: 5vh;
    padding: 30%;
    border-left: 3px solid hsla(0, 0%, 0%, 0);
}

.navigation > a.active {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.5));
    border-left: 3px solid var(--color-accent);
}

.navigation > a:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 2));
}
