.stepLayout {
    height: 100%;
    width: 100%;
    display: grid;
    grid: "sidebar stage" calc(100% - 6em) "actions actions" 6em / 25em calc(100% - 25em);
}

@media (max-width: 60rem) {
    .stepLayout {
        grid: "sidebar stage" calc(100% - 6em) "actions actions" 6em / 20em calc(100% - 20em);
    }
}

.stepsCreateDescription,
.stepsCreateForm {
    padding: 2em;
}

.stepsCreateForm button {
    display: block;
    margin-bottom: 2em;
}
