.menu {
    height: 4vh;
    width: 100%;
    background-color: var(--color-background);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.panel {
    height: 100%;
    width: 100%;
    padding-top: 4vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 4vh;
    height: 4vh;
    padding: 0 1.5vh 0 1.5vh;
    color:var(--color-font);
    border-bottom: 2px solid hsla(0, 0%, 0%, 0);
    transition: border 200ms, color 200ms;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.4));
}

.button:hover * {
    cursor: pointer;
}

.button.active {
    color:var(--color-font-active);
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.4));
    border-bottom: 2px solid var(--color-accent);
}

.shiningButton {
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 0.5));
    color:var(--color-font-active);
}

.shiningButton:hover {
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 0.7));
    color:var(--color-font-active);
}

.current {
    font-style: italic;
}

.actions {
    margin-left: 0.5vh;
    margin-right: -0.5vh;
    opacity: 0.5;
}

.button:hover .actions, .pinned .actions {
    opacity: 0.5;
}

.button .actions:hover, .pinned .actions:hover {
    opacity: 1;
}

.historyItem {
    display: block;
    padding: 4px 10px;
    height: 4vh;
    line-height: calc(4vh - 8px);
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.4));
    width: 100%;
}

.historyItem:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.5));
}

.workflowsList {
    position: relative;
    padding: 20px;
}

.workflowsDescription {
    position: relative;
    padding: 20px;
}

.workflowsCreateDescription, .workflowsCreateForm {
    padding: 20px;
}