<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link href="c/borderline.css" type="text/css" rel="stylesheet">
</head>
<body>
    <script src="j/vendor/jquery.min.js"></script>
    {{{body}}}
    <script src="j/application/borderline.js"></script>
</body>
</html>