<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link href="c/application.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <script src="j/vendor/jquery.min.js"></script>
    {{{body}}}
    <script src="j/application/tmgdo.js"></script>
    <script src="j/application/websocket.js"></script>
    <script src="j/application/lang.js"></script>
    <script src="j/application/system.js"></script>
</body>
</html>