.status {
    height: 100%;
    width: 39px;
    line-height: 100%;
    padding: 1px 10px 1px 10px;
    display: inline-block;
}

.status:hover * {
    cursor: pointer;
}

.logo * {
    fill: #fff;
}

.infoBox {
    position: fixed;
    cursor: default;
    height: 200px;
    width: 400px;
    bottom: 5vh;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.2));
    border: solid 1px hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 0.8));
    padding: 20px;
}

.infoBox::after {
    content: "";
    bottom: -11px;
    left: 10px;
    position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid var(--color-accent);
}

.infoHide {
    display: none;
}

.infoBox span {
    white-space: normal;
}
.infoBox a {
    color: var(--color-accent);
}