.box {
    position: absolute;
    grid-area: auto / navigation / auto / content;
    top: calc(50% - 12em);
    left: calc(50% - 10em);
    height: 25em;
    width: 20em;
}

.form {
    text-align: center;
    line-height: 4em;
}

.title {
    padding-top: calc(50% - 20em);
    text-align: center;
    padding-bottom: 1em;
    cursor: default;
}

.title span {
    color: var(--color-font-active);
    font-size: 3.9em;
}

.title strong {
    color: var(--color-accent);
}

.error {
    display: block;
    width: 100%;
    line-height: 2em;
    background-color: var(--color-error);
    color: var(--color-font-active);
    padding: 0.5em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
