.menu {
    height: 4em;
    width: 100%;
    background-color: var(--color-background);
    position: absolute;
    top: 0;
    left: 0;
}

.panel {
    height: 100%;
    width: 100%;
    padding-top: 4em;
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 4em;
    height: 4em;
    padding: 0 1.8em;
    color: var(--color-font);
    border-bottom: 0.2em solid hsla(0, 0%, 0%, 0);
    transition: border 200ms, color 200ms;
}

.button:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.4));
}

.button.active {
    color: var(--color-font-active);
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.4));
    border-bottom: 0.2em solid var(--color-accent);
}
