.content {
    grid-area: content;
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 0.8));
}
