@import './Theme.css';

.contentbox {
    composes: reset boxing from "./Layout.css";
    padding-top: calc(var(--topbar-height) + 5px);
    padding-bottom: var(--statusbar-height);
}

.contentcontainer {
    composes: reset boxing from "./Layout.css";
    font-size: 35px;
    font-weight: bold;
    color: rgba(10, 10, 10, 255);
    text-align: center;
    padding-top: 50px;
}

.contentexpand {
    height: 100%;
    width: 100%;
}

.contentstale {
    composes: reset boxing from "./Layout.css";
    background-color: rgba(150, 10, 10, 255);
    color: rgba(255, 255, 255, 255);
    font-size: 300px;
    text-align: center;
    top: 0;
    left: 0;
}
