@import './Theme.css';

.screen {

    background-color: var(--background-color-000);

    &.hide {
        visibility: hidden;
    }
}

.box {

    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 105px);
    height: 250px;
    width: 205px;
}

.title {

    padding-top: calc(50% - 200px);
    text-align: center;
    padding-bottom: 10px;
    cursor: default;

    & span {

        color: var(--background-color-100);
        font-size: 40px;
    }

    & strong {

        color: var(--accent-color);
    }
}

.form {

    text-align: center;
    line-height: 40px;

    & span {
        cursor: pointer;
        display: inline-block;
        line-height: 10px;
    }

}
