@import './Theme.css';

.bar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: var(--background-color-005);
    overflow: hidden;

    &.expand {
        width: 250px;
    }

    & .button {
        display: block;
        width: 250px;
        height: 50px;
        padding: 10px 0;
    }

    & .link {
        display: inline-block;
        line-height: 30px;
        padding-left: 20px;
        width: 100%;
        height: 100%;
    }
}

.active {

    & .link {
        font-weight: bold;
        border-left: solid 5px var(--accent-color);
        padding-left: 15px;
    }

}
