.box {
    position: absolute;
    //grid-area: auto / navigation / auto / content;
    top: calc(50% - 125px);
    left: calc(50% - 100px);
    height: 250px;
    width: 200px;
}

.form {
    text-align: center;
    line-height: 40px;
}

.title {
    padding-top: calc(50% - 200px);
    text-align: center;
    padding-bottom: 10px;
    cursor: default;
}

.title span {
    color: var(--color-font-active);
    font-size: 39px;
}

.title strong {
    color: var(--color-accent);
}

.error {
    display: block;
    width: 100%;
    line-height: 20px;
    background-color: var(--color-error);
    color: var(--color-font-active);
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
